html, body{
    height: 100%;
    user-select: none;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
}

body{
    --main-content: white;
    --side-bar: #eee;
    --btn-topbar: #607AB6;

    background-color: #eee;
    color: black;
    box-sizing: border-box;
    display: flex; 
    flex-flow: column wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

input {
    font-weight: 500;
    font-size: 18px;
    border: none;
    width: 90%;
    background-color: transparent;
}

input:hover, input:focus, input:active {
    outline: none;
}

.input-container {
    height: 24px;
    width: inherit;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.tel-input-div {
    justify-content: flex-start;
    border: none;
    gap: 5px;
}

.tel-input {
    max-width: 60px;
}

#div{
    display: flex;
    flex-flow: column;
    padding: 3rem 5rem;
    user-select: none;
}

#wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: fit-content;
    display: grid;
    grid-template-columns: 23rem 13rem;
    gap: 10px;
}

button {
    background-color: grey;
    border: none;
    border-radius: 10px;
    padding: 12px 32px;
    cursor: pointer;
}

#submit-btn {
    font-weight: 550;
    font-size: 20px;
}

button:hover {
    background-color: rgb(184, 125, 73);
}

object{
    pointer-events: none;
    cursor: pointer;
}

select {
    width: 170px; 
    padding: 13px 20px 13px 0px;
    font-size: 18px; 
    border-color: #eee;       
    border-bottom: 1px solid #252432;
    background-color: transparent;
}

#submit-btn-div {
    grid-area: 8 / 1 / 9 / 3;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-title-div {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name-container {
    grid-area: 1 / 1 / 2 / 3;
}

.username-container {
    grid-area: 2 / 1 / 3 / 3;
}

.birthday-container {
    grid-area: 3 / 1 / 4 / 3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-security{
    -webkit-text-security: disc;
}

.address-houseN-container {
    grid-area: 4 / 1 / 5 / 3;
}

.telephone-container {
    grid-area: 5 / 1 / 6 / 3;
}

.email-container {
    grid-area: 6 / 1 / 7 / 3;
}

.password-container {
    grid-area: 7 / 1 / 8 / 3;
}

.label-text {
    font-size: 20px;
    font-weight: 500;
}

.wrapper-flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 30px;
}

.input-container-w-label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 80px;
}

.bday-w-label {
    height: 100px;
}

.smaller-label-text {
    font-size: 13px;
    color: grey;
}

.birthday-input-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

/* for svg's */
.warning-div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.warning-div:hover{
    cursor: pointer;
}

.warning-svg, .round-warning-svg {
    width: 16px;
    height: 16px;
    filter: invert(11%) sepia(84%) saturate(4269%) hue-rotate(350deg) brightness(109%) contrast(95%);
}

.warning-text {
    color: #B91618;
    font-size: 15px;
}

.red-star { color: grey; }

.green-tick-svg {
    width: 20px;
    height: 20px;
    filter: invert(66%) sepia(71%) saturate(762%) hue-rotate(64deg) brightness(103%) contrast(92%);
}

/* addition for password  */
.grandparent{
    position: relative;
}

#parent-div{
    position: absolute;
    right: -17rem;
}

.child-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
}

.child-div.show {
    visibility: visible;
}

.dot-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dot {
    background-color: grey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.child-h3 {
    font-size: 15px;
    font-weight: 300;
    color: grey;
}

/* for dropdown autocomplete lists */
.autocomplete-list {
    position: absolute;
    top: 37px;
    z-index: 1;
    background-color: white;
    padding: unset;
    list-style: none;
    margin: unset;
    width: 100%;
    max-height: 20rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.autocomplete-list li {
    border: 1px solid #e9e9e9;
    border-top: unset;
}

.autocomplete-list button {
    border: unset;
    background-color: unset;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    font-size: 15px;
}

.autocomplete-list li:hover {
    background-color: #f7f7f7;
}